<div class="content">
    <div class="banner">
        <!-- d-flex flex-row justify-content-center align-items-center -->
        <div data-aos="zoom-in-up" class="banner-content">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="title-num">01</div>
                <div class="subtitle">Avaliação</div>
                <div class="info">Nesta etapa o Cirurgião Dentista, realiza o exame clinico da cavidade oral do paciente.</div>
            </div>
            <div id="middle-div" class="d-flex flex-column justify-content-center align-items-center">
                <div class="title-num d-flex justify-content-start">02</div>
                <div class="subtitle">Análise e diagnóstico</div>
                <div class="info">Terminando o exame clinico , o dentista fará uma análise de tudo que foi observado, e junto com o relato do paciente , conseguirá definir um diagnóstico.</div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="title-num">03</div>
                <div class="subtitle">Protocolo de tratamento</div>
                <div class="info">Nesta mesma consulta inicial, informaremos o Plano de Tratamento recomendado para o seu caso.</div>
            </div>
        </div>
    </div>
</div>
