<div class="container-fluid">
    <div class="banner">
        <div class="banner-content d-flex flex-column justify-content-center align-items-center">
            <img data-aos="fade-right" id="logo" src="../assets/parsePNG.jpeg" alt="foto">
            <div data-aos="fade-up" class="banner-title d-flex flex-column justify-content-center align-items-center">
                <h1>Um consultório odontológico completo para você sorrir sempre!</h1>
                <a href="#section1">
                    <button class="btn btn-info text-white">
                        <fa-icon [icon]="faArrowAltCircleRight"></fa-icon>
                        Ver tratamentos
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div data-aos="fade-up" id="section1" class="section-1">
            <div class="header d-flex justify-content-center align-items-center">
               <h2>Veja todos os tratamentos oferecidos:</h2>
            </div>
            <div class="section-1-content">
                <div class="row justify-content-around">
                    <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-4 col-sm-6 col-xs-12 d-flex justify-content-center">
                        <div class="card">
                            <img class="card-img-top" src="../../../assets/lente-de-contato.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-text d-flex justify-content-center">
                                    LENTES DE CONTATO
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-4 col-sm-6 col-xs-12 d-flex justify-content-center">
                        <div class="card">
                            <img class="card-img-top" src="../../../assets/clareamento-dental.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-text d-flex justify-content-center">
                                    CLAREAMENTO DENTAL
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-4 col-sm-6 col-xs-12 d-flex justify-content-center">
                        <div class="card d-flex justify-content-center align-items-center">
                            <img class="card-img-top" src="../../../assets/protese-flexivel.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-text d-flex justify-content-center">
                                    PRÓTESE FLEXÍVEL
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-4 col-sm-6 col-xs-12 d-flex justify-content-center">
                        <div class="card d-flex justify-content-center align-items-center">
                                <img class="card-img-top" src="../../../assets/cirurgia-odontologica.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-text d-flex justify-content-center">
                                        CIRURGIAS
                                    </h4>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-4 col-sm-6 col-xs-12 d-flex justify-content-center">
                        <div class="card d-flex justify-content-center align-items-center">
                            <img class="card-img-top" src="../../../assets/atendimento-infantil.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-text d-flex justify-content-center">
                                    ATENDIMENTO INFANTIL
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-4 col-sm-6 col-xs-12 d-flex justify-content-center">
                        <div class="card d-flex justify-content-center align-items-center">
                            <img class="card-img-top" src="../../../assets/tratamento-canal.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-text d-flex justify-content-center">
                                    TRATAMENTO DE CANAL
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="section-2">
            <div class="header d-flex justify-content-center align-items-center">
                <h2>Seu tratamento com máxima</h2>
            </div>
            <div class="section-2-content">
                <div class="row justify-content-around">
                    <div class="col-md-3 col-sm-6 col-xs-12 sub-section-card d-flex justify-content-center">
                        <div class="sub-section-card-content d-flex flex-column justify-content-center align-items-center">
                            <img src="../../../assets/sub-section-1.png" alt="">
                            <h4>Segurança</h4>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 sub-section-card d-flex justify-content-center">
                        <div class="sub-section-card-content d-flex flex-column justify-content-center align-items-center">
                            <img src="../../../assets/sub-section-2.png" alt="">
                            <h4>Conforto</h4>
                        </div>
                      </div> 
                      <div class="col-md-3 col-sm-6 col-xs-12 sub-section-card d-flex justify-content-center">
                        <div class="sub-section-card-content d-flex flex-column justify-content-center align-items-center">
                            <img src="../../../assets/sub-section-3.png" alt="">
                            <h4>Excelência</h4>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-6 col-xs-12 sub-section-card d-flex justify-content-center">
                          <div class="sub-section-card-content d-flex flex-column justify-content-center align-items-center">
                                <img src="../../../assets/sub-section-4.png" alt="">
                                <h4>Satisfação</h4>
                          </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-3">
        <div class="section-3-banner d-flex justify-content-center align-items-center">
            <!-- <div data-aos="zoom-in-up" class="section-3-banner-content row d-flex justify-content-center align-items-center"> -->
            <div data-aos="zoom-in-up" class="row justify-content-center">
                <div class="section-3-card col-lg-3 col-md-8 col-sm-8 d-flex flex-column justify-content-center align-items-center">
                    <div class="title-num d-flex justify-content-center align-items-center">01</div>
                    <div class="subtitle">Avaliação</div>
                    <div class="info">Nesta etapa o Cirurgião Dentista, realiza o exame clinico da cavidade oral do paciente.</div>
                </div>
                <div id="middle-div" class="section-3-card col-lg-3 col-md-8 col-sm-8 d-flex flex-column justify-content-center align-items-center">
                    <div class="title-num d-flex justify-content-center align-items-center">02</div>
                    <div class="subtitle">Análise e diagnóstico</div>
                    <div class="info">Terminando o exame clinico , o dentista fará uma análise de tudo que foi observado, e junto com o relato do paciente , conseguirá definir um diagnóstico.</div>
                </div>
                <div class="section-3-card col-lg-3 col-md-8 col-sm-8 d-flex flex-column justify-content-center align-items-center">
                    <div class="title-num d-flex justify-content-center align-items-center">03</div>
                    <div class="subtitle">Protocolo de tratamento</div>
                    <div class="info">Nesta mesma consulta inicial, informaremos o Plano de Tratamento recomendado para o seu caso.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section-4">
            <ngb-carousel data-aos="fade-up" *ngIf="images">
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img class="fotos" [src]="images[0]" alt="Random first slide" />
                        </div>
                        <div class="carousel-caption">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img class="fotos" [src]="images[1]" alt="Random second slide" />
                        </div>
                        <div class="carousel-caption">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img class="fotos" [src]="images[2]" alt="Random third slide" />
                        </div>
                        <div class="carousel-caption">
                        </div>
                    </ng-template>
            </ngb-carousel>
            <div data-aos="fade-left" class="section-4-info">
                <h2>Não adie mais a sua saúde bucal, sinta a transformação de forma rápida e permanente</h2>
                <p>Ter um sorriso bonito e dentes saudáveis é indispensável para uma boa saúde bucal e autoestima garantida.</p>
                <p>Possuimos um estrutura completa e bem localizada , tratamentos acessiveis com pagamentos facilitados que se encaixam no seu orçamento.</p>
            </div>
        </div>
    </div>
        <div style="background-color: #0089BA;">
            <div class="container container-section-5 d-flex justify-content-center align-items-center">

                <div data-aos="zoom-in" class="section-5 d-flex flex-column justify-content-start align-items-center">
                    <img src="../assets/parsePNG.jpeg" alt="" id="section-5-logo">
                    <div class="section-5-content d-flex flex-column justify-content-center align-items-center">
                        <h2>Saiba mais e agende sua consulta agora mesmo!</h2>
                        <a class="wpp-btn-wrapper d-flex justify-content-center align-items-center" href="https://wa.me/5521994979324" target="_blank" >
                            <img src="../assets/WhatsAppButtonGreenLarge.png" id="wpp-btn">
                        </a>
                        <!-- <div class="row justify-content-around">
                            <div class="section-5-card col-md-5 d-flex flex-column justify-content-center align-items-center">
                                <img src="../assets/section-5-icon-1.png" alt="">
                                <div class="section-5-card-info">
                                    <div class="section-5-card-info-header d-flex justify-content-center align-items-center">
                                        <h4>Suporte Pós-Tratamento</h4>
                                    </div>
                                    <div class="section-5-card-info-content">

                                    </div>
                                </div>
                            </div>
                            <div class="section-5-card col-md-5 d-flex flex-column justify-content-center align-items-center">
                                <img src="../assets/section-5-icon-2.png" alt="">
                                <div class="section-5-card-info">
                                    <div class="section-5-card-info-header d-flex justify-content-center align-items-center">
                                        <h4>Pagamento Facilidado</h4>
                                    </div>
                                    <div class="section-5-card-info-content">
                                        <p>Estamos prontos para te atender com rápido agendamento e garantir que a sua recuperação esteja 100% após cada consulta.</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>

            </div>
        </div>
    <div style="background-color: #F9F9F9;">
        <!-- <div class="container"> -->
            <div class="section-6">
                <div class="map d-flex justify-content-center align-items-center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.283266600929!2d-43.558058285405174!3d-22.717710436861957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x995c86b4c1c99f%3A0x70a13fcd2bad300!2sTv.%20Regina%2C%2012%20-%20Centro%2C%20Queimados%20-%20RJ%2C%2026325-350!5e0!3m2!1spt-BR!2sbr!4v1669298370803!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="section-6-content d-flex flex-column justify-content-start">
                    <div class="section-6-content-header d-flex justify-content-center align-items-center">
                        <h2 class="d-flex justify-content-center align-items-center" data-aos="fade-up">Dra. Carla Quintanilha Consultório Odontológico</h2>
                    </div>
                    <div class="section-6-content-info d-flex justify-content-center align-items-center">
                        <ul>
                            <li>
                                <fa-icon [icon]="faPhone"></fa-icon> (21) 99497-9324 
                            </li>

                            <li>
                                <fa-icon [icon]="faEnvelope"></fa-icon> carla.quintanilha@hotmail.com
                            </li>

                            <li>
                                <fa-icon [icon]="faLocationPin"></fa-icon> Tv. Regina, 12 / sala 102 / Centro - Queimados
                            </li>

                        </ul>
                    </div>
                    <div data-aos="fade-left" class="social-media-wrapper">
                        <div class="social-media d-flex flex-column justify-content-center align-items-center">
                            <h3>
                                <fa-icon style="margin-right: .4rem;" class="fa-xs" [icon]="faUser"></fa-icon>
                                Sociais
                            </h3>
                            <ul class="d-flex flex-row justify-content-around align-items-center">
                                <li>
                                    <a style="color: rgba(0, 0, 0, 0.685);" href="https://www.instagram.com/dracarlaquintanilha/" target="_blank" rel="noopener noreferrer">
                                        <fa-icon class="fa-lg" [icon]="faInstagram"></fa-icon> 
                                    </a>
                                </li>
                                <li>
                                    <a style="color: rgba(0, 0, 0, 0.685);" href="https://wa.me/5521994979324" target="_blank" rel="noopener noreferrer">
                                        <fa-icon class="fa-lg" [icon]="faWhatsapp"></fa-icon>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>


