
<div class="banner">
    <div class="img-content d-flex flex-column justify-content-center align-items-center">
        <div data-aos="fade-right" class="logo">
            <img src="../assets/parsePNG.jpeg" alt="foto">
        </div>
        <div data-aos="fade-up" class="title d-flex flex-column justify-content-center">
            <h1>Um consultório odontológico completo para você sorrir sempre!</h1>
            <div class="d-flex justify-content-center align-items-center">
                <a href="#section1">
                    <button type="button" class="btn btn-xl btn-info text-white">
                        <fa-icon [icon]="faArrowAltCircleRight"></fa-icon>
                            Ver tratamentos
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
