<!-- d-flex flex-column -->
<div class="content">
    <div data-aos="fade-up" id="header" class="d-flex justify-content-center align-items-center">
        <h2>Veja todos os <span>tratamentos oferecidos:</span></h2>
    </div>
    <div data-aos="fade-up" class="container">
        <div class="row">
            <div class="col-sm d-flex justify-content-center">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/lente-de-contato.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-text d-flex justify-content-center">
                            LENTES DE CONTATO
                        </h4>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm"> -->
            <div class="col-sm d-flex justify-content-center">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/clareamento-dental.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-text d-flex justify-content-center">
                            CLAREAMENTO DENTAL
                        </h4>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm"> -->
            <div class="col-sm d-flex justify-content-center">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/protese-flexivel.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-text d-flex justify-content-center">
                            PRÓTESE FLEXÍVEL
                        </h4>
                    </div>
                </div>
            </div>
            <!-- <div class="w-100"></div> -->
            <div class="col-sm d-flex justify-content-center">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/cirurgia-odontologica.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-text d-flex justify-content-center">
                            CIRURGIAS
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-sm d-flex justify-content-center">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/atendimento-infantil.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-text d-flex justify-content-center">
                            ATENDIMENTO INFANTIL
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-sm d-flex justify-content-center">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/tratamento-canal.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-text d-flex justify-content-center">
                            TRATAMENTO DE CANAL
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <br><br><hr class="my-4"><br>
        <div data-aos="fade-up" class="sub-section">
            <div id="sub-section-header" class="d-flex justify-content-center align-items-center">
                <h2>Seu tratamento com máxima</h2>
            </div>
            <div class="sub-section-content">
                <div class="container">
                    <div class="row">
                      <div class="col-md sub-section-card bg-info">
                        <div class="sub-section-card-content d-flex flex-column justify-content-center align-items-center">
                            <img src="../../../assets/sub-section-1.png" alt="">
                            <h4>Segurança</h4>
                        </div>
                      </div>
                      <div class="col-md sub-section-card bg-info">
                        <div class="sub-section-card-content d-flex flex-column justify-content-center align-items-center">
                            <img src="../../../assets/sub-section-2.png" alt="">
                            <h4>Conforto</h4>
                        </div>
                      </div> 
                      <div class="col-md sub-section-card bg-info">
                        <div class="sub-section-card-content d-flex flex-column justify-content-center align-items-center">
                            <img src="../../../assets/sub-section-3.png" alt="">
                            <h4>Excelência</h4>
                        </div>
                      </div>
                      <div class="col-md sub-section-card bg-info">
                          <div class="sub-section-card-content d-flex flex-column justify-content-center align-items-center">
                                <img src="../../../assets/sub-section-4.png" alt="">
                                <h4>Satisfação</h4>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



